/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.band-container {
	max-width: 800px !important;

	h2 {
		span {
			background-image: linear-gradient(180deg, transparent 65%, red 0);
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
	}

	img {
		float: left;
		padding: 10px;
		max-width: 300px;
	}
}
